:root{
    --white: hsl(0, 100%, 100%);
    --black: hsl(0, 0%, 0%);
    --grey-800: hsl(0, 0%, 27%);
    --grey-800-opa: hsla(0, 0%, 27%, 0.6);
    --grey-500: hsl(0, 0%, 63%);
    --grey-200: hsl(0, 0%, 85%);
    --grey-100: hsl(0, 0%, 94%);
    --grey-50: hsl(0, 0%, 98%);
}